<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="./app.js" defer></script>
</head>
<body>
    <div id="app">
        {{message}}
        <div v-if="myval==0">
                equals 0
        </div>
        <div v-else-if="myval==1">
                equals 1
        </div>
        <div v-else>
                equals other
        </div>
        <button v-on:click="incremenent">incremenent</button>
        <div>
            <ul>
                <li v-for="(fruit,index) in fruits" v-on:click="removeItem(index)" v-bind:key="fruit.id">
                    {{fruit.name}}
                    <input v-on:click.stop/>
                </li>
            </ul>
        </div>
    </div> 
</body>
</html>